interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.codewars.com/api/v1/users/Weston%20Sandfort/code-challenges/completed?page=0
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.codewars.com/api/v1/users/Weston%20Sandfort/code-challenges/completed?page=0
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.codewars.com/api/v1/users/Weston%20Sandfort/code-challenges/completed?page=0
  response:
    body:
      string: "{\"totalPages\":1,\"totalItems\":123,\"data\":[{\"id\":\"54bb6ee72c4715684d0008f9\",\"name\":\"Multiples
        of 3 and 5 redux\",\"slug\":\"multiples-of-3-and-5-redux\",\"completedLanguages\":[\"python\"],\"completedAt\":\"2023-10-02T19:49:36.947Z\"},{\"id\":\"51b66044bce5799a7f000003\",\"name\":\"Roman
        Numerals Helper\",\"slug\":\"roman-numerals-helper\",\"completedLanguages\":[\"python\"],\"completedAt\":\"2023-09-28T21:48:19.732Z\"},{\"id\":\"5526fc09a1bbd946250002dc\",\"name\":\"Find
        The Parity Outlier\",\"slug\":\"find-the-parity-outlier\",\"completedLanguages\":[\"python\"],\"completedAt\":\"2023-09-28T20:03:55.813Z\"},{\"id\":\"52f787eb172a8b4ae1000a34\",\"name\":\"Number
        of traili[...]
